:root {
    --primary-light: rgb(85, 170, 85);
    --primary-dark: rgb(25, 25, 25);
    --max-width: 70ch;
}

html {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    max-width: var(--max-width);
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-family: sans-serif;
    font-size: 1.25em;
}

button {
    padding: 1em;
}

#label-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}
